.MuiTab-labelIcon .MuiTab-wrapper > :first-child {
  margin-bottom: 1px !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #303952 !important;
}

.MuiTab-labelIcon {
  min-height: 52px !important;
  padding-top: 3px !important;
}

.menu-link {
  background-color: #303952 !important;
  color: black !important;
  text-decoration: none !important;
}

.img-profile {
  width: 8rem;
  height: 8rem;
  border-radius: 150px;
}

.nav-link:hover,
.div-link:hover,
.icon-visible:hover {
  cursor: pointer;
}

.btn-exit {
  background-color: #303952 !important;
  color: white;
  border: none;
}

.btn-exit:hover {
  color: yellow;
}

@media screen and (max-width: 991px) {
  .cards-notes {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .navbar-profile-bottom,
  .card-profile-responsive,
  .btn-exit {
    display: none !important;
  }
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: #3f51b5;
}

.MuiBottomNavigationAction-root {
  max-width: 991px !important;
  min-width: 70px !important;
}

.MuiBottomNavigation-root {
  height: 54px !important;
  display: flex !important;
  justify-content: left !important;
  background-color: #fff !important;
}

.card {
  min-width: 18rem;
}
.masthead {
  color: #ffffff;
  width: 100%;
  padding-top: 8rem;
}
.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .masthead {
    height: 90vh;
  }
  .masthead-title {
    font-size: 0.5rem;
  }
}
.icon-contact {margin-right: 10px;transition-duration: 0.5s;color: #928f8f;}
.icon-contact:hover {color: white;}
.bg-footer{background: #303952;}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin:0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.div-flex{
  height: 71.18vh;
  flex: 1;
}
footer {
  text-align: center;
  background-color: black;
  position: relative;
  top: 6vh;
  bottom: 0;
  width: 100%;
  height: 120px;
  color: white;
  margin-top: 20px;
  display: block;
}

.text-footer{
  flex: 1;
}

.mt-10{
  margin-top: 100px;
}

.mt-15{
  margin-top: 150px;
}
